# Credenciales
.env

# Archivos temporales de Python
__pycache__/
*.pyc

# Entorno virtual (si tenés uno)
venv/
env/

# Archivos de datos (para no llenar el repo de archivos pesados)
*.dat
*.DAT
*.parquet